<!-- _includes/mailchimp.html -->
<div id="mc_embed_signup">
    <form action="https://yourdomain.us1.list-manage.com/subscribe/post?u=XXXXX&amp;id=XXXXX" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <h2>Get Your Free 30-Day AIP Meal Plan</h2>
            <p>Plus weekly recipes and AIP tips delivered to your inbox!</p>
            
            <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
            </div>
            
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            
            <div class="clear">
                <input type="submit" value="Get the Meal Plan" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </div>
    </form>
</div>
